@charset "UTF-8";
/* Paleta de colores*/
/*Fuente principal*/
/* Tamaño de fuentes*/
/* Resolucion de pantallas*/
/*Espaciado*/
/*Mixins*/
* {
  margin: 0;
  padding: 0;
}

/*html{
    font-size: 62.5%;
} */
header {
  background-color: lightslategrey;
  z-index: 1;
  opacity: 0.9;
  position: sticky;
  top: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #F1F7ED;
  color: #000;
}

.nav.link {
  color: #000;
}
.nav.link:hover {
  color: whitesmoke;
}

.nav-link.active {
  color: #000;
  background-color: whitesmoke;
}

.navbar-toggler {
  margin-bottom: 20px;
}

h1, h2 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 28px;
}

p {
  font-size: 20px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.px {
  font-size: 16px;
  text-align: center;
  font-style: oblique;
}

.rem {
  font-size: 1rem; /* 2.5 rem = 25 px*/
  text-align: center;
  font-style: oblique;
}

footer {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .container-redes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: fixed;
  bottom: 30%;
  right: 50px;
}
footer .icono-redes {
  width: 30px;
}

.boton, form .botones-form, .enlace-contacto {
  border: solid 1px #000;
  width: 200px;
  text-align: center;
  padding: 5px 20px;
}

.enlace-contacto {
  text-decoration: none;
  color: #000;
  background-color: #F1F7ED;
  transition: all 0.3s;
}
.enlace-contacto:hover {
  background-color: #000;
  color: #F1F7ED;
}

.banner {
  background-image: url(../img/banner-fondo2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icono-texto img {
  width: 70px;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
  justify-items: center;
}
.galeria img {
  width: 350px;
  height: 250px;
}

@media (min-width: 768px) {
  .galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
  }
}
@media (min-width: 992px) {
  .galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
  }
}
/* Filtro */
.card {
  max-width: 100%;
}

.card-img-top {
  height: 240px;
}

.padre-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#electronicas, #mecanicas, #todas {
  display: none;
}

.electronicas, .mecanicas {
  display: none;
}

#electronicas:checked ~ .padre-cards .electronicas,
#mecanicas:checked ~ .padre-cards .mecanicas {
  display: flex;
}

#todas:checked ~ .padre-cards .electronicas,
#todas:checked ~ .padre-cards .mecanicas {
  display: flex;
}

.container-opciones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.container-opciones label {
  border: solid 1px;
  padding: 8px 15px;
  width: 240px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
}
.container-opciones label:hover {
  background-color: lightslategray;
  border: none;
}

@media (min-width: 768px) {
  .container-opciones {
    flex-direction: column;
  }
  .padre-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: start;
  }
}
@media (min-width: 992px) {
  .container-opciones {
    flex-direction: row;
  }
  .padre-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: start;
  }
}
#electronicas:checked ~ .container-opciones .label-electronicas,
#mecanicas:checked ~ .container-opciones .label-mecanicas,
#todas:checked ~ .container-opciones .label-todas {
  background-color: lightslategray;
}

.main-contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

iframe {
  max-width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
form .campos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form .botones-form {
  background-color: #C5C0C0;
  font-weight: bold;
  color: #000;
  transition: ease-in 0.4s;
}
form .botones-form:hover {
  background-color: #F1F7ED;
  color: #000;
}

@media (min-width: 768px) {
  .main-contacto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
  }
}
.container-padre {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 100%;
}

.container-historia {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: #DEE2D6;
  color: #000;
  font-size: 28px;
}
.container-historia img {
  width: 300px;
  height: 250px;
}

.reverse {
  flex-direction: row-reverse;
}
.reverse .container-textos {
  text-align: right;
}

@media (min-width: 768px) {
  .container-padre {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 992px) {
  .container-padre {
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=styles.css.map */
