.main-contacto {
    @include flex-columna;
    gap: $espaciado-general * 2;
}

img {
    max-width: 100%;
}

@media (min-width: $tablet) {
    .main-contacto {
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        justify-items: center;
        align-items: center;
        }
    }

    form {
        @include flex-columna;
        gap: $espaciado-general;

        .campos {
            @include flex-columna;
        }

        .botones-form {
            @extend .boton;
            background-color: $color-secundario;
            font-weight: bold;
            color: $color-terciario;
            transition: ease-in .4s;

            &:hover {
                background-color: $color-primario;
                color: $color-terciario
            }
        }
    }
