*{
    margin: 0;
    padding: 0;
}

/*html{
    font-size: 62.5%;
} */


header {
    background-color: lightslategrey;
    z-index: 1;
    opacity: .9;
    position: sticky;
    top: 0;

}

body{
    font-family: $fuente-principal;
    background-color: $color-primario;
    color: $color-terciario;
}

.nav.link {
    color: $color-terciario;

    &:hover {
        color: whitesmoke;
    }
}

.nav-link.active {
    color: $color-terciario;
    background-color: whitesmoke;
}

.navbar-toggler {
    margin-bottom: $espaciado-general;
}

h1,h2 {
    text-align: center;
    margin-top: $espaciado-general * 2;
    margin-bottom: $espaciado-general * 2;
    font-size: $fuente-grande;
}

p {
    font-size: $fuente-chica;
    margin: 0 auto;
}

img {
        max-width: 100%;
    }

    .px{
        font-size: 16px;
        text-align: center;
        font-style: oblique;
    }
    
    .rem{
        font-size: 1rem; /* 2.5 rem = 25 px*/
        text-align: center;
        font-style: oblique;
    }


footer {
    margin-top: $espaciado-general * 3;
    @include flex-columna;

    .container-redes {
    @include flex-columna;
    gap: 20px;
    position: fixed;
    bottom: 30%;
    right: 50px;
    }

    .icono-redes{
        width: 30px;
}
}

.boton {
    border: solid 1px $color-terciario;
    width: 200px;
    text-align: center;
    padding: 5px $espaciado-general;
}

.enlace-contacto {
    @extend .boton;
    text-decoration: none;
    color: $color-terciario;
    background-color: $color-primario;
    transition: all .3s;

    &:hover {
        background-color: $color-terciario;
        color: $color-primario;
    }
}