.container-padre {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 100%;
}

.container-historia {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $espaciado-general + 10px;
    background-color: #DEE2D6;
    color: $color-terciario;
    font-size: $fuente-grande;

    img {
        width: 300px;
        height: 250px;
    }
}

.reverse {
    flex-direction: row-reverse;
    .container-textos {
        text-align: right;
    }
}

@media (min-width: $tablet) {
    .container-padre {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: $desktop) {
    .container-padre {
        display: flex;
        flex-direction: column;
    }
}