.banner{
    background-image: url(../img/banner-fondo2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 70vh;
    width: 100%;
    @include flex-columna;
    }

    .icono-texto img{
        width: 70px;
    }
