/* Filtro */
.card{
    max-width: 100%;
}

.card-img-top {
    height: 300px;
}
.padre-cards{
    @include flex-columna;
    gap: $espaciado-general;
}

#electronicas, #mecanicas, #todas {
    display: none;
    }
    
    .electronicas, .mecanicas {
    display: none;
    }
    
    #electronicas:checked ~ .padre-cards .electronicas,
    #mecanicas:checked ~ .padre-cards .mecanicas {
    display: flex;
    }
    
    #todas:checked ~ .padre-cards .electronicas,
    #todas:checked ~ .padre-cards .mecanicas {
    display: flex;
    }
    
    .container-opciones {
    @include flex-columna;
    gap: $espaciado-general;

    label {
    border: solid 1px;
    padding: 8px 15px;
    width: 150px;
    text-align: center;
    cursor: pointer;
    transition: all .3s;

    &:hover {
        background-color: lightslategray;
        border: none;
    }
    }
    }
    
    @media (min-width: $tablet) {

    .container-opciones {
        flex-direction: row;
        }
    .padre-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: start;
    }
    }
    
    @media (min-width: $desktop) {
        .container-opciones{
            flex-direction: row;
        }
        .padre-cards {
            grid-template-columns: repeat(4, 1fr);
        }
    }
    
    #electronicas:checked ~ .container-opciones .label-electronicas,
#mecanicas:checked ~ .container-opciones .label-mecanicas,
#todas:checked ~ .container-opciones .label-todas {
    background-color: lightslategray;
}
